//Aqui solo pisamos un estilo con ayuda se SASS
$secondary-color: #125688;
$avatar-size: 48px;

// Lo que queremos es importar el materialize scss que contiene los estilos
// que necesitamos pero a traves de scss, este archivo contiene los estilos
// escritos en sass
@import "node_modules/materialize-css/sass/materialize.scss";

// Pegamos el codigo de nuestro css
body {
  background: #fafafa;
  color: $secondary-color;
  font-family: 'Montserrat', sans-serif;
}

#main-container {
  margin: 0 auto;
}

.landing {
  margin: 30px auto;
}

.iphone {
  max-width: 100%;
}

.site-footer {
  text-transform: uppercase;
  font-size: 12px;
}

.login-box, .signup-box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0;
}

.platzigram {
  font-family: 'Oleo Script' !important;
  font-size: 42px;
  color: $secondary-color !important;
}

.signup-form {
  width: 60%;
  margin: 0 auto;
}

.signup-form h2 {
  color: #a5a7aa;
  font-size: 1.2em;
}

.signup-form .btn.btn-fb {
  background-color: #4090db;
  font-size: 0.8em;
}

.signup-form .btn.btn-fb:hover {
  background-color: #2d6599;
}
.signup-form .btn.btn-signup {
  background-color: $secondary-color;
}

.header {
  background-color: white;
  color: $secondary-color;
  box-shadow: none;
  border-bottom: 1px solid #edeeee;
}

.timeline {
  padding: 30px 0;
}

.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
}

.avatar-users {
  width: 100px;
  height: 100px;
  border-radius: 90%;
  float: left;
  margin: 5px;
  animation: appear 0.7s;
}

.card .username {
  color: $secondary-color;
  line-height: 48px;
}

.header-username {
  text-decoration: none;
  color: $secondary-color;
  font-size: 1.8em;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  margin-left: 5px;
  animation: appear 0.7s;
}

.card small.time {
  line-height: $avatar-size;
}

.card p {
  padding: 20px 0;
}

.card .likes {
  line-height: 30px;
  margin-left: 12px;
}

.card i {
  font-size: 30px;
}

.card .fa-heart-o {
  color: $secondary-color;
  transition: 0.5s;
}

.card .fa-heart {
  color: #f44336;
  display: none;
  transition: 0.5s;
}

// Caracteristicas de Sass
.card.liked {
  .fa-heart {
    display: block;
  }

  .fa-heart-o {
    display: none;
  }
}

.form-upload {
  span, button {
    color: white;
  }

  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

.paragraphs {
  text-align: justify;
  color: black;
  width: 100%;
  animation: appear 0.7s;
}

.container-photos {
  position: relative;
  width: 33%;
  height: 45%;
}

.frame-picture {
  width: 90%;
  height: 100%
}

.pic-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hide-frame {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  transform: scale(0);
  color: $secondary-color;
  text-align: center;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 300px;
  font-size:1.82em
}

div.container-photos:hover > div.hide-frame {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1);
}

.pic-users {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 3%;
  animation: appear 0.5s;
}

@keyframes appear {
  0% {
    color: white;
    transform: scale(0.1);
  }
  95% {
    transform: scale(1.1);
  }
}
